.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .list-title {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .new-task {
      position: absolute;
      right: 0;

      .task-btn {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: rgb(8, 184, 8);
        color: white;
        cursor: pointer;
      }

      .task-btn:hover {
        background-color: green;
        color: white;
      }
    }
  }

  .list-heading {
    color: white;
  }

  .tasks-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 800px;
    min-height: 300px;
    padding: 6px;
    place-items: center;
    border-radius: 5px;
  }
}
